* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.main {
    background-color: #fff;
    padding: 2rem;
    max-width: 800px;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

.calculator {
    width: 400px;
    background-color: #ddd;
    background-image: url("dog.jpg");
    background-size: cover;
}

.display-text {
    background-color: #fff;
    display: block;
    text-align: right;
    font-size: 2rem;
    font-weight: 700;
    overflow: hidden;
}

.borders {
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 1rem;
}

input[type=button] {
    background-color: #fff;
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 1rem;
    width: 90px;
    height: 90px;
    font-size: 2rem;
    font-weight: 700;
    opacity: 0.8;
}

input[type=button]:hover {
    background-color: #ddd;
}

input[type=button]:active {
    background-color: #ccc;
}

.row {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}